* {
	box-sizing: border-box;
}

App ,body {
	margin: 0;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	background-color: #cad3d6bc;
	height: 100%;
	width: 100%;
}

/* layout */
.parent-container {
	height: 100%;
  width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	padding: 10px;
}

/* desktop layout */
@media (min-width: 768px) {
	.parent-container {
		grid-template-columns: 30% 70%;
		align-items: flex-start;
	}

	.create-post {
		position: sticky;
		top: 10px; /* fixed without overflow */
		align-self: flex-start;
	}

	/* .post-view {
		width: 70%;
	}  */
}
