.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .error{
        color: red;
        font-size: 0.8rem;
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
    }
}
input{
    padding: 10px;
    font-style: italic;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 15rem;
    outline: none;

}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.navigate{
    display: flex;
    gap: 0.5rem;
    font-size: large;
    color: rgb(204, 203, 203);
    p{
        margin: 0;
        color: ;
    }
    span{
        color: gray;
        cursor: pointer;
    }
}