.post-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 10px;

    
}

@media (min-width: 768px) {
    .post-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    }